<div class="container-fluid">
    <div class="row justify-content-center">
        <div class=""> 
               <div class="cardd p-3 p-md-4 text-white">    
                   <div class="d-flex">
                       <div class="icon mx-2">
                    <span><i class="fa fa-envelope-open-o fa-2x" aria-hidden="true"></i></span> 
                     </div>
                     <div class="napis w-100">
                    <h6 class="tak my-2"> Napisz do nas</h6>
                     </div>
                </div>
                    <div class="d-flex my-2 pr-2 pr-md-5 flex-row justify-content-start ">
                        <div class="mail">
                            <input type="email" class="form-control py-3" id="inp1" placeholder="   Enter email address">
                        </div>
                        <div class="px-2">
                            <button class="btn text-white px-4 py-2"> OK </button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>