@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

html, body{
    height: 100%;
    width: 100%;
}
        
* {
    padding: 0px;
    margin: 0px;
}
        
body {
    background-color: #dde3fb;
    display: grid;
    place-items: center;
}
h6{
    width: 40%;
}
.tak{
    font-size: 25px;
}
.cardd {
    background-color: #222222;
    font-family: 'Manrope', sans-serif;
}
.mail{
    width: 40%;
}
        
        .fa{
            color: #d9d5d5;
        }
        
        #inp1{
            background-color: #222222;
            border: 1px solid #636161;
            font-size: 0.75rem;

        }
        
        #inp1:focus{
            outline: none;
            box-shadow: none;
        }
        
        .btn{
            background-color: #5c72d8;
            font-size: 0.78rem;
            border: 0px;
            height: 100%;
        }
        
        .btn:focus{
            outline: none;
            box-shadow: none;
        }
        
         *:focus{
            outline: none;
        }
        @media screen and (max-width: 680px) {
            .mail{
                width: 80%;
            }
            h6{
                width: 70%;
            }
        }