<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
  <a href="#" class="navbar-brand">LIPTONOWY TURNIEJ</a>
  <button 
  class="navbar-toggler" 
  type="button" 
  data-bs-toggle="collapse" 
  data-bs-target="#navmenu">
  <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a href="#" class="nav-link">Strona Główna</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link">Regulamin</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link">Kontakt</a>
              </li>
          </ul>
      </div>
</nav>