<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <div class="card">
        <h2>Kamil Bujacz</h2>
        <h4>Tytul</h4>
        <div class="image">
            <img src="http://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png">
        </div>
        <div class="icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-github"></a>
        </div>
    </div> 
    <div class="card">
        <h2>Sylwia Szyda</h2>
        <h4>Tytul</h4>
        <div class="image">
            <img src="http://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png">
        </div>
        <div class="icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-github"></a>
        </div>
    </div>
    <div class="card">
        <h2>Wojtek Jopkiewicz</h2>
        <h4>Tytul</h4>
        <div class="image">
            <img src="http://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png">
        </div>
        <div class="icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-github"></a>
        </div>
    </div>
</div>
