<!-- showcase -->
<section class="bg-dark text-light text-center p-5 text-sm-start">
    <div class="containter">
        <div class="d-sm-flex align-items-center justify-content-bewtween">
            <div class="text-center align-items-lg-center">
                <h1>Liptonowy <br/> turniej mistrzów</h1>
                <p class="lead my-4">
                    Weź udział w turnieju i wygraj az <span class="text-warning"><b>25 000 zł</b></span>
                </p>
                <button class="btn btn-primary btn-lg text-center ">
                    Zapisz się
                </button>
            </div>
        </div>
        
    </div>
</section>