<!-- multistep form -->
<div class="formm bg-dark" id="proba">
<form id="msform" method="get" action="/action_page.php">
    <fieldset>
      <h2 class="fs-title pb-3"><b>Formularz zgłoszeniowy</b></h2>
      <h5 class="pb-2 ">Email</h5>
      <input type="text" name="email" placeholder="Email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required/>
      <h5 class="pb-2 mt-2">Nazwa druzyny</h5>
      <input type="text" name="name" placeholder="Nazwa druzyny" required/>
      <h5 class="pb-2 mt-2">Numer telefonu</h5>
      <input type="tel" id="phone" name="phone" placeholder="123-456-789"
       pattern="[5-8]{1}[0-9]{8}" required>
       <h5 class="pb-2 mt-2">Wiek</h5>
       <input type="number" name="age" placeholder="Wiek" required/>
       <div class="choice d-flex justify-content-center p-3">
           <div class="row p-3 text-center">
                <input class="gzk" type="radio" name="lol" required />
                <label for="scales">League of Legends</label>
           </div>
           <div class="row p-3 text-center flex-grow-1">
                <input class="gzk" type="radio" name="lol" required />
                <label for="scales">Fortnite</label>
            </div>
            <div class="row p-3 text-center">
                <input class="gzk" type="radio" name="lol" required />
                <label for="scales">Counter-Strike</label>
            </div>
       </div>
      <input type="submit" name="next" class="next action-button" value="Zgłoś mnie" />
    </fieldset>
  </form>
</div>